@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&family=Roboto&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Ubuntu&display=swap');

:root{
  --poppins: 'Poppins', sans-serif;
  --bebas: 'Bebas Neue', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --sans-pro: 'Source Sans Pro', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
}